<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">
    <!--support JSR-250-->
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <jee:jndi-lookup id="dataSource" jndi-name="${jndi.dsname}" 
                     resource-ref="true" cache="false" lookup-on-startup="false" expected-type="javax.sql.DataSource"/>
    
    <bean id="jdbi" class="org.jdbi.v3.core.Jdbi" factory-method="create"  c:dataSource-ref="dataSource"/>
<!--    <bean class="org.springframework.beans.factory.config.MethodInvokingBean">
        <property name="targetObject" ref="jdbi"/>
        <property name="targetMethod" value="installPlugin" />
        <property name="arguments">
            <util:list value-type="org.jdbi.v3.core.spi.JdbiPlugin">
                <bean class="org.jdbi.v3.sqlobject.SqlObjectPlugin"/>
            </util:list>
        </property>
    </bean>-->

    <bean id="zip" class="twzip.context.Zip" depends-on="dao"/>   
    <!--Import relative configuration-->
    <import resource="applicationContext-mvc.xml"/>
</beans>